@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body {
    font-family: 'JetBrains Mono', monospace;
    background-color:#1A1A1A;
    color:#808080;
    text-align:center;
    width: max-content;
    height: max-content;
}

button{
    background-color:#808080;
    border-radius: 10rem;
    color:#303030;
    border:none;
}
nav{
    
}